{{ template "layout.html.tmpl" . }}

{{ define "header" }}
{{ with .Data.Asset }}
<h1 class="font-extrabold text-sm sm:text-base md:text-2xl lg:text-4xl flex flex-col items-start sm:flex-row sm:items-center">
	{{ .Name }}
	<span class="hidden lg:inline ms-2 text-slate-400"> ({{ .Tag }})</span>

	{{ template "status_badge" dict "Status" .Status "Class" "hidden lg:block sm:ms-3 sm:mt-2" }}
</h1>

<div class="sm:mt-3 sm:mt-0 flex-1 flex justify-end">
	<x-dropdown-button
		button-class="text-xs md:text-base btn-primary"
		button-text="Actions"
		items='[
			{ "text": "Edit", "url": "(printf \"/assets/%d/edit\" .ID)" },
			{ "text": "Delete", "url": "(printf \"/assets/%d/delete\" .ID)", "class": "text-red-700" }
		]'
	/>
</div>
{{ end }}
{{ end }}

{{ define "main" }}
{{ with .Data.Asset }}
<h4 class="flex lg:hidden flex-row w-full px-3 mb-3 justify-between">
	<span class="text-slate-500">Tag: {{ .Tag }}</span>
	{{ template "status_badge" dict "Status" .Status "Class" "sm:ms-3 sm:mt-2" }}
</h4>

<div class="main grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-5">
	<div class="lg:col-span-2">
		<div class="flow-root">
			<dl class="divide-y divide-gray-100 dark:divide-primary-700 text-sm">
				{{ with .Parent }}
				<div class="grid grid-cols-1 gap-1 p-3 odd:bg-gray-50 dark:odd:bg-background-200 sm:grid-cols-3 sm:gap-4" >
					<dt class="font-bold">Belongs to</dt>
					<dd class="sm:col-span-2">
						<a href="/assets/{{ .ID }}" class="text-blue-500 hover:text-purple-600">{{ .Name }} ({{ .Tag }})</a>
					</dd>
				</div>
				{{ end }}

				<div class="grid grid-cols-1 gap-1 p-3 odd:bg-gray-50 dark:odd:bg-background-200 sm:grid-cols-3 sm:gap-4" >
					<dt class="font-medium">Category</dt>
					<dd class="sm:col-span-2">{{ .Category }}</dd>
				</div>

				<div class="grid grid-cols-1 gap-1 p-3 odd:bg-gray-50 dark:odd:bg-background-200 sm:grid-cols-3 sm:gap-4" >
					<dt class="font-medium">Manufacturer</dt>
					<dd class="sm:col-span-2">{{ .Manufacturer }}</dd>
				</div>

				<div class="grid grid-cols-1 gap-1 p-3 odd:bg-gray-50 dark:odd:bg-background-200 sm:grid-cols-3 sm:gap-4" >
					<dt class="font-medium">Model</dt>
					<dd class="sm:col-span-2">
						{{ .Model }}
						{{ if ne .ModelNo "" }}
							({{ .ModelNo }})
						{{ end }}
					</dd>
				</div>

				<div class="grid grid-cols-1 gap-1 p-3 odd:bg-gray-50 dark:odd:bg-background-200 sm:grid-cols-3 sm:gap-4" >
					<dt class="font-medium">SerialNo</dt>
					<dd class="sm:col-span-2">{{ .SerialNo }}</dd>
				</div>

				<div class="grid grid-cols-1 gap-1 p-3 odd:bg-gray-50 dark:odd:bg-background-200 sm:grid-cols-3 sm:gap-4" >
					<dt class="font-medium">Warranty Until</dt>
					<dd class="sm:col-span-2">
						{{ if not .WarrantyUntil.IsZero }}
							{{ .WarrantyUntil.Format "2006-01-02" }}
						{{ end }}
					</dd>
				</div>

				<div class="grid grid-cols-1 gap-1 p-3 odd:bg-gray-50 dark:odd:bg-background-200 sm:grid-cols-3 sm:gap-4" >
					<dt class="font-medium">Location</dt>
					<dd class="sm:col-span-2">
						{{ .Location }} <br />
						{{ if ne .PositionCode "" }}
							Code: <strong>{{ .PositionCode }}</strong>
						{{ end }}
					</dd>
				</div>

				<div class="grid grid-cols-1 gap-1 p-3 odd:bg-gray-50 dark:odd:bg-background-200 sm:grid-cols-3 sm:gap-4" >
					<dt class="font-medium">Notes</dt>
					<dd class="sm:col-span-2">
						<p>
						{{ range split .Notes "\n" }}
						{{ . }}<br />
						{{ end }}
						</p>
					</dd>
				</div>


				<div class="grid grid-cols-1 gap-1 p-3 odd:bg-gray-50 dark:odd:bg-background-200 sm:grid-cols-3 sm:gap-4" >
					<h3 class="font-bold text-lg">Purchase Info</h3>
				</div>

				<div class="grid grid-cols-1 gap-1 p-3 odd:bg-gray-50 dark:odd:bg-background-200 sm:grid-cols-3 sm:gap-4" >
					<dt class="font-medium">Supplier</dt>
					<dd class="sm:col-span-2">{{ .PurchaseInfo.Supplier }}</dd>
				</div>

				<div class="grid grid-cols-1 gap-1 p-3 odd:bg-gray-50 dark:odd:bg-background-200 sm:grid-cols-3 sm:gap-4" >
					<dt class="font-medium">Order No.</dt>
					<dd class="sm:col-span-2">{{ .PurchaseInfo.OrderNo }}</dd>
				</div>

				<div class="grid grid-cols-1 gap-1 p-3 odd:bg-gray-50 dark:odd:bg-background-200 sm:grid-cols-3 sm:gap-4" >
					<dt class="font-medium">Purchase Date</dt>
					<dd class="sm:col-span-2">
						{{ if not .PurchaseInfo.Date.IsZero }}
						{{ .PurchaseInfo.Date.Format "2006-02-01" }}
						{{ end }}
					</dd>
				</div>

				<div class="grid grid-cols-1 gap-1 p-3 odd:bg-gray-50 dark:odd:bg-background-200 sm:grid-cols-3 sm:gap-4" >
					<dt class="font-medium">Amount</dt>
					<dd class="sm:col-span-2">
						{{ .PurchaseInfo.Amount.Format $.Data.DecimalSeparator }} {{ .PurchaseInfo.Currency }}
					</dd>
				</div>
			</dl>
		</div>
	</div>

	<div class="flex flex-col">
		<div class="rounded bg-gray-100 dark:bg-background-200 p-3 w-full">
			{{ if ne .ImageURL "" }}
			<img src="{{ .ImageURL }}" class="w-full h-auto object-scale-down max-h-[500px]" />
			{{ end }}
		</div>

		{{ with .Children }}
		<div class="mt-5 rounded bg-gray-100 p-3 w-full">
			<h3 class="mb-5 md:text-md lg:text-xl font-bold">Assets belonging to this Asset</h3>

			<ul>
			{{ range . }}
				<li>
					<a href="/assets/{{ .ID }}" class="text-blue-500 hover:text-purple-600">{{ .Name }} ({{ .Tag }})</a>
				</li>
			{{ end }}
			</ul>
		</div>
		{{ end }}
	</div>

	{{ with .Parts }}
	<div class="lg:col-span-2">
		<h2 class="mt-8 mb-5 md:text-xl lg:text-3xl font-bold">Parts</h2>

		<table class="min-w-full">
			<thead class="thead">
				<tr>
					<th>Tag</th>
					<th>Name</th>
					<th>Location</th>
					<th>Notes</th>
				</tr>
			</thead>

		<tbody class="tbody">
			{{ range . }}
				<tr>
					<td>
						<strong>{{ .Tag }}</strong>
					</td>
					<td>
						{{ .Name }}
					</td>
					<td>
						{{  .Location  }}
						{{ if ne .PositionCode "" }}
							({{ .PositionCode }})
						{{ end }}
					</td>
					<td>
						{{ .Notes }}
					</td>
				</tr>
			{{ end }}
			</tbody>
		</table>
	</div>
	{{ end }}
</div>
{{ end }}
{{ end }}

