{{ template "layout.html.tmpl" . }}

{{ define "header" }}
{{ with .Data }}
<h1 class="font-extrabold md:text-2xl lg:text-4xl">
{{ if .IsNew }}
	New Asset
{{ else }}
	Editing "{{ .Asset.Name }}"
{{ end }}
</h1>

<div class="hidden sm:flex flex-1 flex flex-col sm:flex-row justify-center items-end sm:justify-end sm:items-center">
	<button type="submit" class="btn btn-primary" form="asset_edit_form">Save Asset</button>
</div>
{{ end }}
{{ end }}

{{ define "main" }}
{{ with .Data }}
<form
	class="main"
	id="asset_edit_form"
	method="post"
	action="{{- if .IsNew -}} /assets/new {{- else -}} {{ printf "/assets/%v/edit" .Asset.ID }} {{- end -}}"
	enctype="multipart/form-data"

	x-data="{ 'type': '{{ .Asset.Type }}' }"
>
	{{ if has .ValidationErrs "general" }}
	<span class="block text-red-500">{{ .ValidationErrs.general }}</span>
	{{ end }}

	<input type="hidden" name="stuff.csrf.token" value="{{ $.Global.CSRFToken }}" />

	<input type="hidden" name="referer" value="{{ default .Referer $.Global.Referer }}" />

	<div class="w-full flex flex-col lg:flex-row mt-5">
		<div class="flex-1 order-1">
			<h3 class="pb-3 col-span-4 font-bold text-lg md:text-xl">General Information</h3>
			<div class="p-5 border-b mb-5 lg:mb-0 lg:border border-gray-300 lg:rounded-md flex flex-col md:col-span-3 md:gap-5 md:grid md:grid-cols-4">
				{{-
					template "field" dict
					"Class" "col-span-4 mb-3"
					"InputWrapperClass" "flex-grow"
					"LabelClass" "font-bold"
					"Required" true
					"Label" "Name"
					"Name" "name"
					"ValidationErr" .ValidationErrs.name
					"Value" .Asset.Name
				-}}

				{{-
					template "select" dict
					"Class" "col-span-2 mb-3"
					"Label" "Type"
					"LabelClass" "font-bold"
					"Name" "type"
					"ValidationErr" .ValidationErrs.type
					"Value" .Asset.Type
					"Options" (list
						(list "Asset" "ASSET")
						(list "Component" "COMPONENT")
						(list "Consumable" "CONSUMABLE")
					)
					"XOnInput" "type = $event.target.value"
				-}}

				{{-
					template "select" dict
					"Class" "col-span-2 mb-3"
					"Label" "Status"
					"LabelClass" "font-bold"
					"Name" "status"
					"ValidationErr" .ValidationErrs.status
					"Value" .Asset.Status
					"Options" (list
						(list "In Storage" "IN_STORAGE")
						(list "In Use" "IN_USE")
						(list "Archived" "ARCHIVED")
					)
				-}}

				<div x-cloak x-show="type === 'CONSUMABLE'" class="col-span-4 md:col-span-3 md:gap-5 md:grid md:grid-cols-4 mt-3">
					{{-
						template "field" dict
						"Class" "col-span-1"
						"LabelClass" "font-bold"
						"Label" "Quantity"
						"Name" "quantity"
						"Type" "number"
						"ValidationErr" .ValidationErrs.quantity
						"Value" .Asset.Quantity
					-}}

					{{-
						template "field" dict
						"Class" "col-span-1"
						"LabelClass" "font-bold"
						"Label" "Unit"
						"Name" "quantity_unit"
						"ValidationErr" .ValidationErrs.quantity_unit
						"Value" .Asset.QuantityUnit
					-}}
				</div>

				{{-
					template "field" dict
					"Class" "col-span-2 mt-3"
					"LabelClass" "font-bold"
					"InputWrapperClass" "flex-grow"
					"Required" true
					"Label" "Tag"
					"Name" "tag"
					"ValidationErr" .ValidationErrs.tag
					"Value" .Asset.Tag
					"AutoCompleteSource" "/api/v1/tags?in_use=false"
					"AutoCompleteItemsAt" "tags"
					"AutoCompleteValueAt" "tag"
				-}}

				{{-
					template "field" dict
					"Class" "col-span-2 mt-3"
					"LabelClass" "font-bold"
					"InputWrapperClass" "flex-grow"
					"Required" true
					"Label" "Category"
					"Name" "category"
					"ValidationErr" .ValidationErrs.category
					"Value" .Asset.Category
					"AutoCompleteSource" "/api/v1/categories"
					"AutoCompleteItemsAt" "categories"
					"AutoCompleteValueAt" "name"
				-}}

				{{-
					template "field" dict
					"Class" "col-span-2 mt-3"
					"LabelClass" "font-bold"
					"InputWrapperClass" "flex-grow"
					"Label" "Model"
					"Name" "model"
					"AutoCompleteSource" "/api/v1/models"
					"AutoCompleteItemsAt" "models.name"
					"ValidationErr" .ValidationErrs.model
					"Value" .Asset.Model
				-}}

				{{-
					template "field" dict
					"Class" "col-span-2 mt-3"
					"LabelClass" "font-bold"
					"InputWrapperClass" "flex-grow"
					"Label" "Model No."
					"Name" "model_no"
					"AutoCompleteSource" "/api/v1/models"
					"AutoCompleteItemsAt" "models.modelNo"
					"ValidationErr" .ValidationErrs.model_no
					"Value" .Asset.ModelNo
				-}}

				{{-
					template "field" dict
					"Class" "col-span-2 mt-3"
					"LabelClass" "font-bold"
					"InputWrapperClass" "flex-grow"
					"Label" "Manufacturer"
					"Name" "manufacturer"
					"AutoCompleteSource" "/api/v1/manufacturers"
					"AutoCompleteItemsAt" "manufacturers.name"
					"ValidationErr" .ValidationErrs.manufacturer
					"Value" .Asset.Manufacturer
				-}}

				{{-
					template "field" dict
					"Class" "col-span-2 mt-3"
					"LabelClass" "font-bold"
					"InputWrapperClass" "flex-grow"
					"Label" "Serial No"
					"Name" "serial_no"
					"ValidationErr" .ValidationErrs.serial_no
					"Value" .Asset.SerialNo
					"XShow" "type !== 'CONSUMABLE'"
				-}}

				{{-
					template "field" dict
					"Type" "date"
					"Class" "col-span-1 col-start-4 mt-3"
					"LabelClass" "font-bold"
					"InputWrapperClass" "flex-grow"
					"Label" "Warranty Until"
					"Name" "warranty_until"
					"ValidationErr" .ValidationErrs.warranty_until
					"Value" (.Asset.WarrantyUntil.Format "2006-01-02")
					"XShow" "type !== 'CONSUMABLE'"
				-}}

				{{-
					template "textarea" dict
					"Class" "col-span-4 mt-3"
					"LabelClass" "font-bold"
					"Label" "Notes"
					"Name" "notes"
					"ValidationErr" .ValidationErrs.notes
					"Value" .Asset.Notes
				-}}

				{{-
					template "field" dict
					"Class" "col-span-2 mt-3"
					"LabelClass" "font-bold text-lg"
					"InputWrapperClass" "flex-grow"
					"Label" "Belongs To"
					"Name" "parent_asset_id"
					"ValidationErr" .ValidationErrs.parent_asset_id
					"Value" (default .Asset.ParentAssetID "")
					"AutoCompleteSource" "/api/v1/assets"
					"AutoCompleteItemsAt" "assets"
					"AutoCompleteLabelAt" "name"
					"AutoCompleteValueAt" "id"
				-}}
			</div>
		</div>

		<div class="order-3 lg:order-2 lg:w-1/3">
			<h3 class="px-3 pb-3 col-span-4 font-bold text-lg md:text-xl">Location</h3>
			<div class="p-5 border-b mb-5 lg:border border-gray-300 lg:rounded-md flex flex-col md:grid md:grid-cols-4 lg:ms-2 flex flex-col md:col-span-3 md:gap-5 md:grid md:grid-cols-4">
				{{-
					template "field" dict
					"Class" "col-span-3 mb-3 lg:mb-0"
					"LabelClass" "font-bold"
					"InputWrapperClass" "flex-grow"
					"Label" "Location"
					"Name" "location"
					"AutoCompleteSource" "/api/v1/locations"
					"AutoCompleteItemsAt" "locations.name"
					"ValidationErr" .ValidationErrs.location
					"Value" .Asset.Location
				-}}

				{{-
					template "field" dict
					"Class" "col-span-1"
					"LabelClass" "font-bold"
					"InputWrapperClass" "flex-grow"
					"Label" "Position Code"
					"Name" "position_code"
					"AutoCompleteSource" "/api/v1/locations/position_codes"
					"AutoCompleteItemsAt" "positionCodes.code"
					"ValidationErr" .ValidationErrs.position_code
					"Value" .Asset.PositionCode
				-}}
			</div>

			{{ template "edit_custom_attrs" $ }}

			<h3 x-show="type !== 'CONSUMABLE'" class="mt-2 px-3 pb-3 col-span-4 font-bold text-lg md:text-xl">Purchase Info</h3>
			<div x-show="type !== 'CONSUMABLE'" class="p-5 border-b mb-5 lg:mb-0 lg:border border-gray-300 lg:rounded-md flex flex-col md:grid md:grid-cols-4 lg:ms-2 flex flex-col md:col-span-3 md:gap-5 md:grid md:grid-cols-4">
				{{ $purchase := index .Asset.Purchases 0 }}

				{{-
					template "field" dict
					"Class" "col-span-3 mb-3"
					"LabelClass" "font-bold"
					"InputWrapperClass" "flex-grow"
					"Label" "Order No."
					"Name" "purchases[0].order_no"
					"ValidationErr" (index .ValidationErrs "purchases[0].order_no")
					"Value" $purchase.OrderNo
					"XBindDisabled" "type === 'CONSUMABLE'"
				-}}

				{{-
					template "field" dict
					"Type" "date"
					"AutoComplete" "off"
					"Class" "col-span-1 mb-3"
					"LabelClass" "font-bold"
					"InputWrapperClass" "flex-grow"
					"Label" "Purchase Date"
					"Name" "purchases[0].order_date"
					"Format" "2006-01-02"
					"ValidationErr" (index .ValidationErrs "purchases[0].order_date")
					"Value" ($purchase.Date.Format "2006-01-02")
					"XBindDisabled" "type === 'CONSUMABLE'"
				-}}

				{{-
					template "field" dict
					"Class" "col-span-4 mb-3"
					"LabelClass" "font-bold"
					"InputWrapperClass" "flex-grow"
					"Label" "Supplier"
					"Name" "purchases[0].supplier"
					"ValidationErr" (index .ValidationErrs "purchases[0].supplier")
					"Value" $purchase.Supplier
					"XBindDisabled" "type === 'CONSUMABLE'"
					"AutoCompleteSource" "/api/v1/suppliers"
					"AutoCompleteItemsAt" "suppliers.name"
				-}}

				<div class="md:col-span-1 md:col-start-4 flex items-center mb-5 mt-3 lg:mt-0">
					<label for="purchases[0].amount" class="label font-bold mt-2 mr-5 flex items-center">Cost</label>
					<div class="flex-grow flex w-full items-center">
						<input
							name="purchases[0].amount"
							id="purchases[0].amount"
							class="input rounded-r-none min-w-[90px] flex-1 text-right"
							value="{{ $purchase.Amount.Format .DecimalSeparator }}"
							x-bind:disabled="type === 'CONSUMABLE'"
						/>
						<input
							type="text"
							name="purchases[0].currency"
							id="purchases[0].currency"
							value="{{ $purchase.Currency }}"
							class="input rounded-l-none w-[64px] !border-l-0"
							x-bind:disabled="type === 'CONSUMABLE'"
						/>

						{{ if has .ValidationErrs "purchases[0].amount" }}
						<span class="block text-danger-default">{{ (index .ValidationErrs "purchases[0].amount") }}</span>
						{{ end }}
					</div>
				</div>
			</div>
		</div>

		<div class="w-full order-2 lg:order-3 lg:w-1/5 xl:w-1/4">
			<h3 class="px-3 pb-3 col-span-4 font-bold text-lg md:text-xl">Image</h3>
			<div class="h-96 lg:ms-2 border-b mb-5 lg:mb-0 lg:border border-gray-300 lg:rounded-md flex flex-col items-center justify-center" x-data="{{ printf "{ img: '%s' }" .Asset.ImageURL }}">
				<label
					for="image"
					class="block w-full cursor-pointer relative"
					x-on:dragover.prevent="$refs.icons.classList.add('drag-over')"
					x-on:dragleave.prevent="$refs.icons.classList.remove('drag-over')" 
				>
					<div class="flex flex-col items-center justify-center">
						<div x-show="!img" class="group flex justify-center items-center w-full h-full" x-ref="icons">
							<x-icon icon="file-arrow-up" class="drag-over-show pointer-events-none" />
							<x-icon icon="images-square" class="drag-over-hide pointer-events-none" />
						</div>

						<p x-show="!img" class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Drop to upload</span> or click to select</p>
						<p x-show="!img" class="text-xs text-gray-500 dark:text-gray-400">PNG, JPEG, WebP</p>

						<img x-show="img" x-bind:src="img" class="w-auto h-full max-h-72" />
					</div>

					<input
						class="absolute top-0 left-0 bottom-0 right-0 text-sm file:text-transparent text-transparent file:border-0 file:bg-transparent"
						name="image"
						id="image"
						type="file"
						accept="image/*"
						x-ref="fileInput"
						x-on:change="
							if (!$event.target.files) {
								return
							}
							reader = new FileReader();
							reader.readAsDataURL($event.target.files[0])
							reader.onload = e => img = e.target.result
						"
					/>
				</label>

				<button
					x-cloak x-show="img" class="btn btn-outline btn-danger flex justify-center items-center mt-5"
					x-on:click.prevent="$refs.fileInput.value = ''; img = ''"
				>
					<x-icon icon="file-x" class="w-[24px] h-[24px]" />
					Clear
				</button>
			</div>
		</div>
	</div>

	{{ template "edit_parts" .Asset }}

	{{ template "edit_purchases" . }}

	<div class="flex flex-col items-end">
		<button type="submit" class="btn btn-primary text-lg my-5">
			Save Asset
		</button>
	</div>
</form>
{{ end }}
{{ end }}


{{ define "edit_parts" }}
<div
	class="w-full"
	x-cloak
	x-show="type !== 'CONSUMABLE'"
	x-data="{{
		printf `{
			parts: %v ?? [],
			parentTag: '%v',
			totalCounter: %v,

			addItem() {
				this.totalCounter++
				this.parts.push({
					ID: 0,
					Tag: this.parentTag + '-' + this.totalCounter,
					Name: '',
					Location: '',
					PositionCode: '',
					Notes: '',
				})
			},

			removeItem(i) {
				this.parts.splice(i, 1)
			}
		}` (json .Parts) .Tag .PartsTotalCounter
	}}"
>
	<input required="true" type="hidden" name="parts_total_counter" id="parts_total_counter" x-bind:value="totalCounter">

	<h2 class="mt-8 mb-5 md:text-xl lg:text-3xl font-bold">Parts</h2>
	<table class="w-full">
		<thead>
			<tr class="text-left">
				<th>Tag</th>
				<th>Name</th>
				<th>Location</th>
				<th>Position Code</th>
				<th>Notes</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<template x-for="(part, i) in parts">
				<tr>
					<td class="pe-3 last:pe-0">
						<input type="hidden" x-bind:name="`parts[${i}].id`" x-bind:value="part.ID" />
						{{-
							template "field" dict
							"Required" true
							"Readonly" true
							"XBindName" "`parts[${i}].tag`"
							"XBindValue" "part.Tag"
						-}}
					</td>

					<td class="pe-3 last:pe-0">
						{{-
							template "field" dict
							"Required" true
							"Placeholder" "Name"
							"XBindName" "`parts[${i}].name`"
							"XBindValue" "part.Name"
						-}}
					</td>

					<td class="pe-3 last:pe-0">
						{{-
							template "field" dict
							"Required" true
							"Placeholder" "Location"
							"AutoCompleteSource" "/api/v1/assets/locations"
							"AutoCompleteItemsAt" "locations"
							"XBindName" "`parts[${i}].location`"
							"XBindValue" "part.Location"
						-}}
					</td>

					<td class="pe-3 last:pe-0">
						{{-
							template "field" dict
							"Required" true
							"Placeholder" "Position Code"
							"AutoCompleteSource" "/api/v1/assets/position_codes"
							"AutoCompleteItemsAt" "positionCodes"
							"XBindName" "`parts[${i}].position_code`"
							"XBindValue" "part.PositionCode"
						-}}
					</td>

					<td class="pe-3 last:pe-0">
						{{-
							template "textarea" dict
							"InputClass" "mt-1"
							"MinHeight" "min-h-[42px]"
							"Placeholder" "Notes"
							"XBindName" "`parts[${i}].notes`"
							"XBindValue" "part.Notes"
						-}}
					</td>

					<td>
						<button class="btn btn-danger h-8 mt-1" x-on:click.prevent="removeItem(i)"><x-icon icon="x-square" class="w-6 h-6 !me-0" /></button>
					</td>
				</tr>
			</template>
		</tbody>
	</table>

	<button class="btn btn-neutral mt-5" x-on:click.prevent="addItem()">Add Part</button>
</div>
{{ end }}

{{ define "edit_purchases" }}
<div
	class="w-full"
	x-cloak
	x-show="type === 'CONSUMABLE'"
	x-data="{{
		printf `{
			purchases: %v ?? [],
			defaultCurrency: '%v',
			decimalSeparator: '%v',

			addItem() {
				this.totalCounter++
				this.purchases.push({
					Supplier: '',
					OrderNo: '',
					Date: '',
					Amount: '',
					Currency: this.defaultCurrency,
				})
			},

			removeItem(i) {
				this.purchases.splice(i, 1)
			}
		}` (json .Asset.Purchases) .DefaultCurrency .DecimalSeparator
	}}"
>
	<h2 class="mt-8 mb-5 md:text-xl lg:text-3xl font-bold">Purchases</h2>
	<table class="w-full">
		<thead>
			<tr class="text-left">
				<th>Date</th>
				<th>Supplier</th>
				<th>OrderNo</th>
				<th>Amount</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<template x-for="(purchase, i) in purchases">
				<tr>
					<td class="pe-3 last:pe-0 max-w-[100px]">
						{{-
							template "field" dict
							"Type" "date"
							"Placeholder" "Order Date"
							"XBindName" "`purchases[${i}].order_date`"
							"XBindValue" "purchase.Date.split('T')[0]"
						-}}
					</td>

					<td class="pe-3 last:pe-0">
						{{-
							template "field" dict
							"Placeholder" "Supplier"
							"XBindName" "`purchases[${i}].supplier`"
							"XBindValue" "purchase.Supplier"
							"AutoCompleteSource" "/api/v1/suppliers"
							"AutoCompleteItemsAt" "suppliers.name"
						-}}
					</td>

					<td class="pe-3 last:pe-0">
						{{-
							template "field" dict
							"Placeholder" "Order No."
							"XBindName" "`purchases[${i}].order_no`"
							"XBindValue" "purchase.OrderNo"
						-}}
					</td>

					<td class="pe-3 last:pe-0 max-w-[100px]">
						<div class="flex w-full items-center mt-2">
							<input
								class="input rounded-r-none min-w-[90px] flex-1 text-right"
								x-bind:name="`purchases[${i}].amount`"
								x-bind:id="`purchases[${i}].amount`"
								x-bind:value="(purchase.Amount/100).toFixed(2).replace('.', decimalSeparator)"
							/>
							<input
								class="input rounded-l-none w-[64px] border-l-0"
								x-bind:name="`purchases[${i}].currency`"
								x-bind:id="`purchases[${i}].currency`"
								x-bind:value="purchase.Currency"
							/>
						</div>
					</td>

					<td>
						<button class="btn btn-danger h-8 mt-2" x-on:click.prevent="removeItem(i)"><x-icon icon="x-square" class="w-6 h-6 !me-0" /></button>
					</td>
				</tr>
			</template>
		</tbody>
	</table>

	<button class="btn btn-secondary mt-5" x-on:click.prevent="addItem()">Add Purchase</button>
</div>
{{ end }}

{{ define "edit_custom_attrs" }}
<h3 class="px-3 pb-3 col-span-4 font-bold text-lg md:text-xl">Custom Attributes</h3>
<div
	class="lg:ms-2 p-5 border-b mb-5 lg:border border-gray-300 lg:rounded-md flex flex-col"
	x-data="{
		customAttrs: {{ json .Data.Asset.CustomAttrs }} ?? [],

		addItem() {
			this.customAttrs.push({name: `Custom Attribute ${this.customAttrs.length}`, value: 'value'})
		},

		removeItem(i) {
			this.customAttrs.splice(i, 1)
		}
	}"
>
	<ul>
		<template x-for="(attr, i) in customAttrs">
			<li class="flex flex-row mb-5">
				<input
					class="input w-1/3 me-2"
					type="text"
					autocomplete="off"
					x-autocomplete="{source: '/api/v1/custom_attrs', itemsAt: 'customAttrs.name'}"
					x-bind:name="`custom_attrs[${i}].name`"
					x-bind:id="`custom_attrs[${i}].name`"
					x-bind:value="attr.name"
				/>

				<input
					class="input flex-1 me-2"
					type="text"
					autocomplete="off"
					x-bind:name="`custom_attrs[${i}].value`"
					x-bind:id="`custom_attrs[${i}].value`"
					x-bind:value="attr.value"
				/>

				<button class="btn btn-danger max-w-fit" x-on:click.prevent="removeItem(i)"><x-icon class="w-6 h-6" icon="x-square" /></button>
			</li>
		</template>
	</ul>

	<button class="btn btn-secondary max-w-fit" x-on:click.prevent="addItem()">Add Attribute</button>
</div>
{{ end }}
