{{ template "layout.html.tmpl" . }}

{{ define "header" }}
{{ with .Data.Asset }}
<h1 class="font-extrabold text-sm sm:text-base md:text-2xl lg:text-4xl flex flex-col items-start sm:flex-row sm:items-center">
	{{ .Name }}
	<span class="hidden lg:inline text-slate-400">#{{ .Tag }}</span> - Files
</h1>
{{ end }}
{{ end }}

{{ define "main" }}
{{ with .Data.Asset }}

<div class="h-full w-full flex flex-col">
	{{ template "asset_view_tabs" $ }}

	<div
		class="flex-1 w-full relative overflow-x"
		x-data="{{ printf `{ assetID: %d , state: 'none', }` .ID }}"
		x-on:dragover.prevent="state = 'hovering'"
		x-on:dragleave.prevent="state = 'none'" 
		x-on:drop.prevent="
			state = 'uploading';
			await $upload(assetID, $event.dataTransfer)
			state = 'none'
		"
	>
		<div
			x-cloak
			x-show="state != 'none'"
			class="w-full absolute left-0 right-0 top-0 bottom-0 bg-background-200"
		>
			<div x-show="state == 'hovering'" class="h-full flex flex-col items-center justify-center text-gray-500 dark:text-gray-400">
				<x-icon icon="file-arrow-up" class="pointer-events-none" />
				<p class="mb-2 text-sm font-semibold">Drop to upload</p>
			</div>

			<div x-show="state == 'uploading'" class="h-full flex flex-col items-center justify-center text-gray-500 dark:text-gray-400">
				<x-icon icon="file-arrow-up" class="pointer-events-none" />
				<p class="mb-2 text-sm font-semibold">Uploading...</p>
			</div>
		</div>

		<ul class="w-full">
			<li class="w-full bg-neutral-50 dark:bg-background-200 content-inset-x py-2 flex">
				<div class="flex-1 flex me-5"><span class="w-6 h-6 me-2"></span>Name</div>
				<div class="w-32 me-5">Size</div>
				<div class="w-64 me-5">Created At</div>
				<div class="w-24 flex"></div>
			</li>

			{{ range .Files }}
			<li class="w-full flex content-inset-x py-2 hover:bg-background-200">
				<a href="{{ .PublicPath }}" class="flex-1 flex me-5"><x-icon class="w-6 h-6 me-2" icon="file" /> {{ .Name }}</a>
				<div class="w-32 me-5">{{ .SizeBytes }}</div>
				<date class="block w-64 me-5">{{ .CreatedAt.Format "2006-01-02T15:04:05Z07:00" }}</date>
				<div class="w-24 flex justify-end">
					<x-dropdown-button
						button-class="max-w-min btn-neutral"
						icon="dots-three-vertical"
						items='[
							{ "text": "Download", "url": "(.PublicPath)" },
							{ "text": "Delete", "url": "(printf \"/assets/%d/files/%d/delete\" .AssetID .ID)", "class": "text-red-700" }
						]'
					/>
				</div>
			</li>
			{{ end }}
		</ul>
	</div>
</div>

{{ end }}
{{ end }}

{{ define "asset_view_tabs" }}
{{ with .Data.Asset }}
<nav class="content-inset-x mb-5 w-full border-b border-gray-100 dark:border-primary-700">
	<ul class="flex flex-wrap justify-start space-x-5">
		<li class="flex border-b-2 text-base border-transparent text-neutral-400 hover:text-primary-600 hover:border-primary-600">
			<a class="px-2 pb-2 inline-flex items-center" href="/assets/{{ .ID }}">Information</a>
		</li>
		<li class="flex border-b-2 text-base border-primary-500 text-primary-500">
			<a class="px-2 pb-2 inline-flex items-center" href="/assets/{{ .ID }}/files">Files</a>
		</li>
	</ul>
</nav>
{{ end }}
{{ end }}


