{{ template "layout.html.tmpl" . }}

{{ define "header" }}
<h1 class="font-extrabold md:text-2xl lg:text-4xl">Tags</h1>
{{ end }}

{{ define "main" }}
{{ with .Data }}
<table class="table min-w-full">
	<thead class="thead">
		<tr>
			<th>
				<div class="flex items-center">
					<input id="selected_all" type="checkbox" class="checkbox" />
					<label for="selected_all" class="sr-only">checkbox</label>
				</div>
			</th>
			<th>Tag</th>
			<th>In Use</th>
			<th>Last Updated</th>
		</tr>
	</thead>

		<tbody class="tbody">
		{{ range .Tags.Items }}
		<tr>
			<td class="w-4">
				<div class="flex items-center">
					<input id="selected_{{ .ID }}" name="selected_{{ .ID }}" type="checkbox" class="checkbox" />
					<label id="selected_{{ .ID }}" class="sr-only">Select Tag {{ .Tag }}</label>
				</div>
			</td>
			<td>
				<a class="block w-full h-full" href="{{ printf "/assets/%v" .Tag }}">
					<strong>{{ .Tag }}</strong>
				</a>
			</td>
				<td>
					{{ if .InUse }}
						<x-icon icon="check" class="h-6 w-6 text-green-500" />
					{{ else }}
						<x-icon icon="x" class="h-6 w-6 text-red-500" />
					{{ end }}
				</td>
			<td><strong>{{ .UpdatedAt.Format "2006-01-02T15:04:05Z07:00" }}</strong></td>
		</tr>
		{{ end }}
	</tbody>
</table>

{{ if gt .Tags.NumPages 1 }}
{{ template "pagination" dict
	"URL" "/tags"
	"Name" "Tags"
	"Total" .Tags.Total
	"PageSize" .Tags.PageSize
	"CurrPage" .Tags.Page
	"NumPages" .Tags.NumPages
}}
{{ end }}

{{ end }}
{{ end }}
