{{ template "layout.html.tmpl" . }}

{{ define "main" }}
<header class="my-5 flex items-end">
	<h1 class="font-extrabold md:text-2xl lg:text-4xl">Tags</h1>
</header>

{{ with .Data }}
<table class="min-w-full divide-y divide-neutral-200">
	{{ template "table_head" list "_select_" "Tag" "In Use" "Last Updated" }}

	<tbody class="divide-y divide-neutral-200">
		{{ range .Page.Tags }}
		<tr class="text-neutral-800">
			<td class="first:pl-0 last:pr-0 py-4 text-sm whitespace-nowrap">
				<div class="flex items-center">
					<input id="selected_{{ .ID }}" name="selected_{{ .ID }}" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" />
					<label id="selected_{{ .ID }}" class="sr-only">Select Tag {{ .Tag }}</label>
				</div>
			</td>
			<td class="px-5 py-4 text-sm whitespace-nowrap"><strong>{{ .Tag }}</strong></td>
			<td class="px-5 py-4 text-sm whitespace-nowrap"><strong>{{ .InUse }}</strong></td>
			<td class="px-5 py-4 text-sm whitespace-nowrap"><strong>{{ .UpdatedAt.Format "2006-01-02T15:04:05Z07:00" }}</strong></td>
		</tr>
		{{ end }}
	</tbody>
</table>

{{ if gt .Page.NumPages 1 }}
{{ template "pagination" dict "Page" .Page }}
{{ end }}

{{ end }}
{{ end }}
