{{ template "layout.html.tmpl" . }}

{{ define "header" }}
<h1 class="font-extrabold md:text-2xl lg:text-4xl">{{ .Data.User.DisplayName }} Settings</h1>
{{ end }}

{{ define "main" }}
{{ with .Data }}
<div class="main">
	<div class="mt-5 flex flex-col md:grid md:grid-cols-2 md:gap-2">
		<form class=" max-w-[300px]" method="post" action="/users/me">
			<h2 class="text-xl mb-3">Display</h2>

			{{ if has .ValidationErrs "general" }}
			<span class="block text-danger-default">{{ .ValidationErrs.general }}</span>
			{{ end }}

			<input type="hidden" name="stuff.csrf.token" value="{{ $.Global.CSRFToken }}" />

			{{-
				template "field" dict
				"Required" true
				"Label" "Display Name"
				"Name" "display_name"
				"ValidationErr" .ValidationErrs.display_name
				"Value" .User.DisplayName
			-}}

			<div class="mt-3">
				<button type="submit" class="btn btn-primary btn-sm">Update</button>
			</div>
		</form>

		<div class="mt-5 md:mt-0">
			<h2 class="text-xl mb-3">Security</h2>
			<div class="flex items-center">
				<h3 class="text-md me-3">Password</h3>
				<a href="/users/me/changepassword" class="max-w-[200px] btn btn-primary btn-sm">Change Password</a>
			</div>
		</div>
	</div>
</div>
{{ end }}
{{ end }}

