@layer components {
    .label {
        @apply block mb-2 text-sm text-content-light;
        @apply text-content-lighter;
    }

    .input {
        @apply w-full px-3 py-2 placeholder:text-content-lighter border border-border-default rounded-md bg-background-accent-lighter;
        @apply disabled:cursor-not-allowed disabled:opacity-50;
        @apply dark:placeholder:text-content-light dark:bg-background-default;

        transition: .25s ease;

        &:focus, &:hover {
            @apply dark:bg-background-accent-lighter;
            outline: none;
            background: rgb(var(--colour-background-default)/1);
            border-color: rgba(var(--colour-primary-default)/0.4);
            box-shadow: 0 0 0 4px rgba(var(--colour-primary-default)/10%);
        }

        &.invalid {
            @apply border-danger-default;
        }
    }

    .input[readonly="true"] {
        @apply cursor-not-allowed opacity-50;
    }

    .checkbox {
        @apply w-4 h-4 rounded text-primary-default bg-background-accent border-border-default focus:ring-primary-default;
    }

    .checkbox-input {
        @apply px-3 py-2 border border-border-default rounded-md focus:outline-none focus:ring focus:border-primary-default disabled:cursor-not-allowed disabled:opacity-50;
    }
}
