@import "./_tailwind.css";
@import "./_themes.css";
@import "./_layout.css";
@import "./_sidebar.css";
@import "./_components.css";
@import "./_buttons.css";
@import "./_forms.css";
@import "./_table.css";
@import "./_command_palette.css";
@import "./_assets.css";

@layer utilities {
	.max-w-screen {
		max-width: 100vw;
	}
}

@layer base {
	[x-cloak] { display: none !important; }

    body {
        @apply bg-background-default text-content-default;
    }

	a {
		@apply hover:text-primary-hover;
	}
}

@layer components {
	.content-inset-x {
		@apply px-2 md:px-5;
	}

	.content-inset-s {
		@apply ps-2 md:ps-5;
	}

	.content-inset {
		@apply content-inset-x pb-3;
	}

	.main {
		@apply content-inset;
	}

	span.disabled {
		cursor: not-allowed;
		opacity: 0.5;
		text-decoration: none;
		pointer-events: none;
	}
}

.rainbow {
    @apply from-green-300 via-primary-default to-purple-600;
}

.drag-over .drag-over-show {
    display: block;
}

.drag-over .drag-over-hide {
    display: none;
}

.drag-over-hide {
    display: block;
}

.drag-over-show {
    display: none;
}
