@import "../node_modules/flatpickr/dist/flatpickr.css";
@import "./_tailwind.css";
@import "./_buttons.css";
@import "./_forms.css";
@import "./_sidebar.css";

@layer utilities {
	.max-w-screen {
		max-width: 100vw;
	}
}

@layer base {
	[x-cloak] { display: none !important; }
}

.rainbow {
    @apply from-green-300 via-blue-500 to-purple-600;
}

.drag-over .drag-over-show {
    display: block;
}

.drag-over .drag-over-hide {
    display: none;
}

.drag-over-hide {
    display: block;
}

.drag-over-show {
    display: none;
}

.flatpickr-calendar {
    @apply text-neutral-500;
}

.flatpickr-day.today.selected {
    background: none;
    @apply bg-blue-500 border-blue-500;
}

.flatpickr-months .flatpickr-prev-month:hover, .flatpickr-months .flatpickr-next-month:hover {
    @apply text-blue-500;
}

.flatpickr-months .flatpickr-prev-month:hover svg, .flatpickr-months .flatpickr-next-month:hover svg {
    fill: currentColor;
}
