{{ define "document_head" }}
{{- $class := "" -}}

{{- if ne $.Global.User.Preferences.ThemeName "default" -}}
{{- $class = $.Global.User.Preferences.ThemeName  -}}
{{- end -}}

{{- if ne $.Global.User.Preferences.ThemeMode "" -}}
{{- $class = concat $class " " $.Global.User.Preferences.ThemeMode  -}}
{{- end -}}
<!DOCTYPE html>
<html lang="en" {{ if ne $class "" -}} class="{{ $class }}" {{- end }}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
		<meta name="csrf-token" content="{{ .Global.CSRFToken }}"/>
		<title>Stuff – {{ .Global.Title }}</title>
		<link rel="stylesheet" href="/static/styles.css" />
		<script defer src="/static/bundle.min.js" type="module"></script>
	</head>
	<body>
{{ end }}

{{ define "document_footer" }}
	</body>
</html>
{{ end }}
