{{ define "document_head" }}
{{- $class := "" -}}
{{- $isDark := false -}}

{{- with $.Global.User -}}
{{- if ne .Preferences.ThemeName "default" -}}
{{- $class = .Preferences.ThemeName  -}}
{{- end -}}

{{- if ne .Preferences.ThemeMode "" -}}
{{- $class = concat $class " " .Preferences.ThemeMode -}}
{{- end -}}

{{- if eq .Preferences.ThemeMode "dark" -}}
{{- $isDark = true -}}
{{- end -}}
{{- end -}}
<!DOCTYPE html>
<html lang="en" {{ if ne $class "" -}} class="{{ $class }}" {{- end }}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
		<link rel="manifest" href="/manifest/manifest.json" />
		<link rel="apple-touch-icon" href="manifest/icon512_maskable.png" />
		<link rel="apple-touch-icon" sizes="512x512" href="manifest/icon512_maskable.png" />
		<meta name="apple-mobile-web-app-status-bar-style" content="{{ if $isDark -}} black {{- else -}} default {{- end}}">
		<meta name="csrf-token" content="{{ .Global.CSRFToken }}"/>
		<title>Stuff – {{ .Global.Title }}</title>
		<link rel="stylesheet" href="/static/styles.css" />
		<script defer src="/static/bundle.min.js" type="module"></script>
	</head>
	<body>
{{ end }}

{{ define "document_footer" }}
	</body>
</html>
{{ end }}
