{{ define "document_head" }}
{{- $class := "" -}}
{{- $themeName := "" -}}
{{- $themeMode := "" -}}
{{- with $.Global.User -}}
{{- $themeName = .Preferences.ThemeName -}}
{{- $themeMode = .Preferences.ThemeMode -}}
{{- end -}}

{{- $hasModeOverride := or (eq $themeMode "light") (eq $themeMode "dark") -}}

{{- $themeColourLight := "#ffffff" -}}
{{- $themeColourDark := "#050b14" -}}

{{- if eq $themeName "retro" -}}
{{- $class = $themeName  -}}
{{- $themeColourLight = "#ffffff" -}}
{{- $themeColourDark = "#f2f2f2" -}}
{{- end -}}

{{- if $hasModeOverride -}}
{{- $class = concat $class " " $themeMode -}}
{{- end -}}

<!DOCTYPE html>
<html lang="en" {{ if ne $class "" -}} class="{{ $class }}" {{- end }}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
		<link rel="manifest" href="/manifest/manifest.json" />
		<link rel="apple-touch-icon" href="manifest/icon512_maskable.png" />
		<link rel="apple-touch-icon" sizes="512x512" href="manifest/icon512_maskable.png" />
		<meta name="mobile-web-app-capable" content="yes" />
		{{ if not $hasModeOverride -}}
		<meta name="theme-color" content="{{ $themeColourLight }}" media="(prefers-color-scheme: light)" />
		<meta name="theme-color" content="{{ $themeColourDark }}" media="(prefers-color-scheme: dark)" />
		{{- else }}
		{{ if eq $themeMode "dak" -}}
		<meta name="theme-color" content="{{ $themeColourDark }}" />
		{{- else }}
		<meta name="theme-color" content="{{ $themeColourLight }}" />
		{{- end }}
		{{- end }}
		<meta name="csrf-token" content="{{ .Global.CSRFToken }}"/>
		<title>Stuff – {{ .Global.Title }}</title>
		<link rel="stylesheet" href="/static/styles.css" />
		<script defer src="/static/bundle.min.js" type="module"></script>
	</head>
	<body>
{{ end }}

{{ define "document_footer" }}
	</body>
</html>
{{ end }}
