{{/*
Dropdown
	class string
	text  string
	ttems []{ text string; url string; class string }
*/}}
{{ define "dropdown" }}
<div
	x-data="{ open: false }"
	class="relative {{ if ne .class "" -}} {{ .class }} {{- end -}}"
>
	<button x-ref="button" class="btn btn-primary flex items-center" x-on:click="open = !open">
		{{- get . "button-text" }}
		<x-icon icon="caret-up-down" class="w-[16px] h-[16px] ms-2" />
	</button>

	<div
		class="absolute end-0 z-10 mt-1 min-w-max bg-white border rounded-md shadow-sm border-neutral-200/70"
		role="menu"
		x-cloak
		x-ref="dropdown"
		x-transition
		x-show="open"
		x-on:click.away="open = false"
		x-on:keydown.escape.window="open = false"
	>
		<ul class="p-2 text-sm w-full">
			{{ range .items }}
			<li>
				<a href={{ .url }} class="block rounded px-4 py-2 hover:bg-gray-100 {{- if has . "class" }} {{ .class }} {{- end -}}">{{ .text }}</a>
			</li>
			{{ end }}
		</ul>
	</div>
</div>
{{ end }}
