{{/*
x-dropdown
	class string
	text  string
	children
*/}}
{{ define "dropdown" }}
<div
	x-data="{ open: false }"
	class="relative {{ if ne .class "" -}} {{ .class }} {{- end -}}"
>
	{{ $iconClass := "w-[16px] h-[16px] !me-0" }}
	{{ if ne (get . "button-text") "" }}
	{{ $iconClass = "w-[16px] h-[16px] !me-0 ms-2" }}
	{{- end }}
	<button x-ref="button" class="btn {{ default (get . `button-class`) `btn-primary` }}" x-on:click="open = !open">
		{{- get . "button-text" }}
		<x-icon icon="{{ default .icon `caret-down` }}" class="{{ $iconClass }}" />
	</button>

	<div
		class="dropdown-content"
		role="menu"
		x-cloak
		x-ref="dropdown"
		x-transition
		x-show="open"
		x-on:click.away="open = false"
		x-on:keydown.escape.window="open = false"
	>
		{{ .children }}
	</div>
</div>
{{ end }}

{{/*
x-dropdown-button
	class string
	text  string
	items []{ text string; url string; class string }
*/}}
{{ define "dropdown-button" }}
<div
	x-data="{ open: false }"
	class="relative {{ if ne .class "" -}} {{ .class }} {{- end -}}"
>
	{{ $iconClass := "w-[16px] h-[16px] !m-0" }}
	{{ if has . "button-text" }}
	{{ $iconClass = "w-[16px] h-[16px] !m-0 !ms-2 {{ get . `button-text` }}" }}
	{{- end }}
	<button x-ref="button" class="btn {{ default (get . `button-class`) `btn-primary` }}" x-on:click="open = !open">
		{{- get . "button-text" }}
		<x-icon icon="{{ default .icon `caret-down` }}" class="{{ $iconClass }}" />
	</button>

	<div
		class="absolute end-0 z-10 mt-1 min-w-max bg-background-100 border rounded shadow-sm border-neutral-200"
		role="menu"
		x-cloak
		x-ref="dropdown"
		x-transition
		x-show="open"
		x-on:click.away="open = false"
		x-on:keydown.escape.window="open = false"
	>
		<ul class="dropdown-items">
			{{ range .items }}
			<li>
				<a href="{{ .url }}" {{- if has . "class" }} class="{{ .class }}" {{- end -}}>
					{{- if has . "icon" }} <x-icon icon="{{ .icon }}" class="w-4 h-4 me-2" /> {{- end -}}
					{{ .text }}
				</a>
			</li>
			{{ end }}
		</ul>
	</div>
</div>
{{ end }}
