{{define "icon"}}
<svg class="{{ default .class "" }}"
	{{- if has . "x-bind:class" }} x-bind:class="{{ get . "x-bind:class" }}" {{- end }}
	{{ if has . "x-show" }} x-show="{{ get . "x-show" }}" {{- end }}
>
	<use xlink:href="/static/icons.svg#{{ .icon }}"></use>
</svg>
{{end}}
