{{ define "_label" }}
<label
	{{ if has . "Name" }}
	for="{{ .Name }}"
	{{ else if has . "XBindName" }}
	x-bind:for="{{ .XBindName }}"
	{{ end }}
	class="label {{- if has . "LabelClass" }} {{ .LabelClass }} {{- end -}}"
>
	{{ .Label }}
</label>
{{ end }}

{{- /*
Input:
	Class string
	InputClass string
	InputWrapperClass string
	LabelClass string
	Value string
	Type string
	Label string
	Name string
	Placeholder string
	Required bool
	Disabled bool
	Readonly bool
	AutoComplete string
	Icon string
	ValidationErr string
	AutoCompleteSource string
	AutoCompleteValueAt string
	AutoCompleteLabelAt string

	XRef string
	XData string
	XBindValue string
	XBindName string
	XBindDisabled string
	XShow string
*/ -}}
{{ define "field" }}
<div
	{{ if has . "XShow" }}
	x-cloak
	x-show="{{ .XShow }}"
	{{ end }}

	{{ if ne .Class "" -}} class="{{ .Class }}" {{- end -}}
	{{ if has . "XData" -}} x-data="{{ .XData }}" {{- end -}}

	{{ if has . "AutoCompleteSource" }}
	x-data="autocompleter({
		'source': '{{ .AutoCompleteSource}}',
		'itemsAt': '{{ .AutoCompleteItemsAt }}',
		'valueAt': '{{ .AutoCompleteValueAt }}',
		'labelAt': '{{ .AutoCompleteLabelAt }}',
		'value': '{{ .Value }}',
	})"
	{{- end }}
>
	{{ if ne .Label "" }}
	{{ template "_label" . }}
	{{ end }}

	<div class="relative {{- if has . "InputWrapperClass" }} {{ .InputWrapperClass }} {{- end -}}">
		{{ if has . "Icon" }}
		<span class="pointer-events-none absolute ml-3 translate-y-1/2 mt-0.5 text-gray-500">
			<div class="h-4 w-4">
				{{ template "icon" dict "icon" .Icon "class" "w-[24px] h-[24px]" }}
			</div>
		</span>
		{{ end }}

		<input
			{{ if has . "XRef" }}
			x-ref="{{ .XRef }}"
			{{ end }}

			{{ if has . "XDatePicker" }}
			x-datepicker="{{ .XDatePicker }}"
			{{ end }}

			{{ if has . "Required" }}
			required="{{ .Required }}"
			{{ end }}

			{{ if has . "Readonly" }}
			readonly="{{ .Readonly }}"
			{{ end }}

			{{ if has . "Disabled" }}
			disabled="{{ .Disabled }}"
			{{ end }}

			{{ if has . "XBindDisabled" }}
			x-bind:disabled="{{ .XBindDisabled }}"
			{{ end }}

			type="{{ default .Type "text" }}"

			{{ if has . "Step" }}
			step="{{ .Step }}"
			{{ end }}

			{{ if has . "Name" }}
			name="{{ .Name }}"
			id="{{ .Name }}"
			{{ else if has . "XBindName" }}
			x-bind:name="{{ .XBindName }}"
			x-bind:id="{{ .XBindName }}"
			{{ end }}

			{{ if has . "Placeholder" }}
			placeholder="{{ .Placeholder }}"
			{{ end }}

			{{ if and (has . "AutoComplete") (not (has . "AutoCompleteSource")) }}
			autocomplete="{{ .AutoComplete }}"
			{{ end }}
			{{ if has . "AutoCompleteSource" }}
			autocomplete="off"
			{{ end }}

			class="input {{ if has . "Icon"  -}} pl-11 {{- end }} {{ if has . "InputClass" -}} {{ .InputClass }} {{- end -}}"

			{{ if ne (print .Value ) "" }}
			value="{{ .Value }}"
			{{ end }}

			{{ if has . "XBindValue" }}
			x-bind:value="{{ .XBindValue }}"
			{{ end }}

			{{ if has . "AutoCompleteSource"}}
			@keyup.debounce.300ms="onChange($el)"
			x-bind:value="value"
			{{ end }}
		/>

		{{ if has . "AutoCompleteSource" }}
		<template x-teleport="body">
			<div
				x-ref="suggestions" x-show="open"
				class="absolute top-0"
				@click.outside="open = false"
			>
				<div class="h-auto overflow-auto bg-white border rounded-md shadow-sm border-neutral-200/70">
					<ul class="divide-y divide-gray-100 text-sm w-full">
						<template x-for="item in items">
							<li class="w-100">
								<button
									x-text="item.label"
									class="p-2 blcok w-full hover:bg-blue-500 hover:text-white text-left"
									@click="onClickSuggestion(item)"
								></button>
							</li>
						</template>
					</ul>
				</div>
			</div>
		</template>
		{{ end }}

		{{ if ne .ValidationErr "" }}
		<span class="block text-red-500">{{ .ValidationErr }}</span>
		{{ end }}
	</div>
</div>
{{ end }}

{{- /*
Textarea:
	Class string
	LabelClass string
	InputClass string
	Name string
	Label string
	Placeholder string
	Value string
	ValidationErr string
	MinHeight string

	XBindValue string
	XBindName string
*/ -}}
{{ define "textarea" }}
<div {{ if ne .Class "" -}} class="{{ .Class }}" {{- end -}}>
	{{ if ne .Label "" }}
	{{ template "_label" . }}
	{{ end }}

	<textarea
		class="input w-full h-auto {{ default .MinHeight "min-h-[96px]" }} {{ if has . "InputClass" -}} {{ .InputClass }} {{- end -}}"

		{{ if has . "Name" }}
		name="{{ .Name }}"
		id="{{ .Name }}"
		{{ else if has . "XBindName" }}
		x-bind:name="{{ .XBindName }}"
		x-bind:id="{{ .XBindName }}"
		{{ end }}

		{{ if has . "Placeholder" }}
		placeholder={{ .Placeholder }}
		{{ end }}

		x-data="{resize () {
			$el.style.height = '0px'; 
			$el.style.height = $el.scrollHeight + 'px' 
		}}"
		x-init="resize()"
		x-on:input="resize()"

		{{ if has . "XBindValue" }}
		x-bind:value="{{ .XBindValue }}"
		{{ end }}
	>{{ .Value }}</textarea>

	{{ if ne .ValidationErr "" }}
	<span class="block text-red-500">{{ .ValidationErr }}</span>
	{{ end }}
</div>
{{ end }}


{{- /*
Select:
	Class string
	InputClass string
	LabelClass string
	Name string
	Label string
	Value string
	Options [][]string

	XOnInput string
*/ -}}
{{ define "select" }}
<div {{ if ne .Class "" -}} class="{{ .Class }}" {{- end -}}>
	{{ if ne .Label "" }}
	<label for="{{ .Name }}" class="label {{- if has . "LabelClass" }} {{ .LabelClass }} {{- end -}}">{{ .Label }}</label>
	{{ end }}

	<select
		name="{{ .Name }}"
		id="{{ .Name }}"
		class="input {{ if ne .InputClass "" -}} {{ .InputClass }} {{- end -}}"
		{{ if ne .Value "" }}
			value="{{ .Value }}"
		{{ end }}

		{{ if ne .XOnInput "" }}
			x-on:input="{{ .XOnInput }}"
		{{ end }}
	>
		{{ range .Options }}
			<option
				value={{ index . 1 }}
				{{ if eq (index . 1) $.Value }}
				selected
				{{ end }}
			>
				{{ index . 0 }}
			</option>
		{{ end }}
	</select>
</div>
{{ end }}

{{- /*
 DatePicker:
	Class string
	InputClass string
	InputWrapperClass string
	LabelClass string
	Value time.Time
	Format string
	Type string
	Label string
	Name string
	Placeholder string
	Required bool
	AutoComplete string
	Icon templ.Component
	ValidationErr string

	XBindValue string
	XBindName string
	XShow string
*/ -}}
{{ define "datepicker" }}
{{ $value := "" }}
{{ if not .Value.IsZero }}
{{ $value = (.Value.Format .Format) }}
{{end}}

{{-
	template "field"
	merge . (dict
		"Value" $value
		"AutoComplete" "off"
		"XRef" "picker"
		"XDatePicker" (printf `{ value: "%v", format: "Y-m-d" }` $value)
	)
-}}
{{ end }}

{{- /*
x-checkbox:
	class string
	input-class string
	checked bool
	label string
	name string
	required bool
	disabled bool
	readonly bool
	icon string
	validation-error string
*/ -}}
{{ define "checkbox" }}
<div class="flex items-center align-center py-2 {{ if ne .class "" -}} {{ .class }} {{- end -}}">
	<input
		{{ if has . "required" }} required="{{ .required }}" {{ end }}
		{{ if has . "readonly" }} readonly="{{ .readonly }}" {{ end }}
		{{ if has . "disabled" }} disabled="{{ .disabled }}" {{ end }}

		type="checkbox"

		name="{{ .name }}"
		id="{{ .name }}"

		class="checkbox-input {{ if has . "icon"  -}} pr-11 {{- end }} {{ if has . "input-class" -}} {{ get . "input-class" }} {{- end -}}"

		{{ if .checked }} checked {{ end }}
	/>

	{{ if has . "icon" }}
	<span class="pointer-events-none absolute ml-3 translate-y-1/2 mt-0.5 text-gray-500">
		<div class="h-4 w-4">
			{{ template "icon" dict "icon" .icon "class" "w-[24px] h-[24px]" }}
		</div>
	</span>
	{{ end }}

	{{ if ne .Label "" }}
	{{ template "_label" dict "Name" .name "Label" .label "LabelClass" "m-0 ms-2" }}
	{{ end }}

	{{ if has . "validation-error" }}
	<div>
		<span class="block text-red-500">{{ get . "validation-error" }}</span>
	</div>
	{{ end }}
</div>
{{ end }}

