{{ template "document_head" . }}

<div class="md:h-screen md:w-screen w-full h-full flex flex-col">
	<header class="w-full bg-white border-b">
		<div x-data="{ open: false }" class="relative flex flex-col w-full bg-white md:items-center md:justify-between md:flex-row py-3 px-3 md:px-6 lg:px-8">
			{{ template "site_nav" . }}
			{{ template "site_nav_items" . }}
		</div>
	</header>

	<div class="overflow flex-1 flex flex-col">
		<main id="main" class="px-3 md:px-6 lg:px-8 pb-5 flex-1">
			{{ block "main" . }}{{ end }}
		</main>
		{{ template "footer" . }}
	</div>
</div>

{{ template "command_palette" }}

{{ template "document_footer" . }}

{{ define "site_nav" }}
<div class="flex flex-row items-center justify-start">
	<button @click="open = !open" class="inline-flex items-center justify-center p-2 text-neutral hover:text-blue-500 focus:outline-none focus:text-black md:hidden">
		{{ template "icon" dict "Icon" "hamburger-menu" "Class" "w-6 h-6" }}
	</button>

	<a class="block" href="/">
		{{ template "logo" dict "Class" "text-xl" "IconClass" "h-6"}}
	</a>
</div>
{{ end }}

{{ define "site_nav_items" }}
	<nav x-bind:class="{'flex': open, 'hidden': !open}" class="flex-col flex-grow hidden md:pb-0 md:flex md:items-center  md:items-center md:flex-row md:ml-5">
		<a class="px-2 py-2 text-sm text-neutral hover:text-purple-500" href="/assets">Assets</a>
		<a class="px-2 py-2 text-sm text-neutral hover:text-purple-500" href="/tags">Tags</a>
		<a class="px-2 py-2 text-sm text-neutral hover:text-purple-500" href="/users">Users</a>
		<a class="px-2 py-2 text-sm text-neutral hover:text-purple-500 block md:hidden flex flex-row items-center" href="/logout">
			 Logout
			{{ template "icon" dict "Icon" "sign-out" "Class" "ml-1 w-[16px] h-[16px]" }}
		</a>

		<form method="get" action="/assets" class="w-full md:w-auto md:ml-auto flex items-center">
			{{-
				template "field" dict
				"Class" "w-full md:w-auto md:ml-auto flex items-center"
				"Type" "search"
				"Placeholder" "Search"
				"Name" "query"
				"Icon" "magnifying-glass"
				"Value" .Global.Search
			-}}
		</form>

		<a href="/logout" class="hidden md:block hover:text-purple-500 ml-5">
			{{ template "icon" dict "Icon" "sign-out" "Class" "w-[24px] h-[24px]" }}
		</a>
	</nav>
{{ end }}

{{ define "footer" }}
<footer class="px-3 md:px-6 lg:px-8 py-5 bg-gray-50 w-full">
	<div class="flex flex-wrap justify-center text-sm">
		{{ template "logo" dict "Class" "text-sm" "IconClass" "h-0" }}
		<span class="px-5">Version X</span>
		<a href="https://github.com/kodeshack/stuff" class="inline-block group flex flex-row justify-center items-center text-blue-400 hover:text-purple-500" rel="noopener noreferrer">
			{{ template "icon" dict "Icon" "github-logo-duotone" "Class" "h-[16px] w-[16px] !hidden group-hover:!inline-block" }}
			{{ template "icon" dict "Icon" "github-logo" "Class" "h-[16px] w-[16px] group-hover:!hidden" }}
			GitHub
		</a>
	</div>
</footer>
{{ end }}


{{ define "command_palette" }}
<div
	class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex min-h-[370px] justify-center w-full max-w-xl items-start"
	x-cloak
	x-data="commandpalette"
	x-show="show"

	x-on:keydown.down.prevent="selectNext()" 
	x-on:keydown.up.prevent="selectPrev()" 
	x-on:keydown.enter.prevent="exec()" 
	x-on:keydown.escape.prevent="show = false" 
	x-on:keydown.window.prevent.meta.k="show = true; setTimeout(() => { $refs.input.focus() }, 100)"
	x-on:click.outside="show = false"
>
	<div class="flex flex-col w-full h-full overflow-hidden bg-white border rounded shadow-md">
		<div class="flex items-center px-3 border-b">
			{{ template "icon" dict "Icon" "magnifying-glass" "Class" "w-[24px] h-[24px] text-neutral-400" }}
			<input x-model="search" x-ref="input" type="text" class="input h-11 bg-transparent border-0 outline-none focus:outline-none shadow-none focus:ring-0" placeholder="Type a command or search..." autocomplete="off" autocorrect="off" spellcheck="false">
		</div>

		<div x-ref="cmdsList" class="max-h-[320px] overflow-y-auto overflow-x-hidden">
			<div x-show="shown.length === 0">
				<span class="px-2 py-1 my-1 text-neutral-400">Search for <strong x-text="search"></strong></span>
			</div>
			<template x-for="(cat, i) in shown" :key="cat[0]">
				<ul class="space-y-1">
					<li class="block px-2 py-1 my-1 font-medium text-neutral-500" x-text="cat[0]"></li>
					<template x-for="(cmd, j) in cat[1]" :key="cmd.name">
						<li
							x-on:click="curr=[i, j]; exec()"
							x-on:mousemove="curr=[i, j]"
							x-bind:class="{ 'bg-neutral-100 text-gray-900 command-palette-active': curr && curr[0] == i && curr[1] == j  }"
							class="px-1 flex cursor-pointer select-none items-center rounded-sm px-2 py-1.5 outline-none"
						>
							<svg class="h-[24px] w-[24px]">
								<use x-bin:xlink:href="`/static/icons.svg#${cmd.icon}`"></use>
							</svg>
							<span x-html="cmd.name"></span>
						</li>
					</template>
				</ul>
			</template>
		</div>
	</div>
</div>
{{ end }}
