{{ template "document_head" . }}
<div
	class="min-h-screen md:h-screen flex" x-data="{ sidebarOpen: false, sidebarDesktopClosed: {{ $.Global.User.Preferences.SidebarClosedDesktop }}  }"
	x-bind:class="{ 'overflow-hidden h-screen block': sidebarOpen }"
>
	<nav
		class="sidebar {{- if $.Global.User.Preferences.SidebarClosedDesktop }} sidebar-desktop-closed {{- end }}"
		x-bind:class="{ 'translate-x-0': sidebarOpen, 'sidebar-desktop-closed': sidebarDesktopClosed }"
		x-on:keydown.escape.window="sidebarOpen = false"
	>
		{{ template "sidebar" . }}
	</nav>

	<div class="bg-slate-950/80 absolute md:hidden top-0 left-0 bottom-0 right-0 z-10 duration-300" x-cloak x-on:click="sidebarOpen = false" x-show="sidebarOpen" x-transition.opacity></div>

	<div class="md:overflow-auto w-full flex flex-col">
		<header class="page-header">
			<button x-on:click="sidebarOpen = !sidebarOpen" class="hover:text-primary-default focus:outline-none focus:text-black md:hidden mr-2">
				<span class="sr-only">Show Menu</span>
				<x-icon icon="hamburger-menu" class="w-[24px] h-[24px]" />
			</button>

			{{ block "header" . }}{{ end }}
		</header>

		<main id="main" class="max-w-screen md:max-w-none flex-1 flex flex-col">
			<div class="flex-1">
				{{ block "main" . }}{{ end }}
			</div>

			{{ template "footer" . }}
		</main>
	</div>
</div>
{{ template "command_palette" . }}

<div class="toasts">
	{{- if ne $.Global.FlashMessage.Text "" -}}
	<div x-data="{rem: () => $el.remove() }" class="toast toast-{{ $.Global.FlashMessage.Type }}">
		{{ $.Global.FlashMessage.Text }}

		<button class="toast-close-btn" x-on:click.prevent="rem()">
			<x-icon class="h-5 w-5" icon="x" />
		</button>
	</div>
	{{- end -}}
</div>


{{ template "document_footer" . }}

{{ define "sidebar" }}
<div class="sidebar-content">
	<div class="sidebar-header">
		<a class="block flex flex-1 sidebar-desktop-closed-hide" href="/assets">
			<x-logo class="text-2xl" icon-class="h-6" />
		</a>

		<button
			class="sidebar-desktop-toggle-btn"
			x-on:click="sidebarDesktopClosed = !sidebarDesktopClosed; $setting({ sidebar_closed_desktop: sidebarDesktopClosed })"
		>
			<x-icon icon="sidebar" class="mr-1 w-6 h-6" />
		</button>
	</div>

	<div class="pb-4 w-full">
		<div class="sidebar-cmd-plt-btn sidebar-desktop-closed-hide">
			<button
				class="input flex justify-between items-center px-2 py-0 bg-background-primary-default text-content-lighter"
				x-on:click="$dispatch('opencmdplt'); sidebarOpen = false"
			>
				<x-icon icon="terminal" class="w-5 h-5 text-content-lighter" />
				<span class="block flex-1 text-left ps-2">Search/Cmds</span>
				<div class="key-hint w-5 h-5 text-sm my-1">⌘K</div>
			</button>
		</div>
	
		<ul class="sidebar-links">
			<li>
				<a
					href="/assets"
					class="sidebar-link {{ if isActiveURL $.Global.CurrentURL "/assets" "type" "" }} active {{ end }}"
				>
					<x-icon icon="package" /> <span class="sidebar-desktop-closed-hide">Assets</span>
				</a>
			</li>

			<li>
				<a
					href="/assets?type=component"
					class="sidebar-link {{ if isActiveURL $.Global.CurrentURL "/assets" "type" "component" }} active {{ end }}"
				>
					<x-icon icon="stack-simple" /> <span class="sidebar-desktop-closed-hide">Components</span>
				</a>
			</li>

			<li>
				<a
					href="/assets?type=consumable"
					class="sidebar-link {{ if isActiveURL $.Global.CurrentURL "/assets" "type" "consumable" }} active {{ end }}"
				>
					<x-icon icon="receipt" /> <span class="sidebar-desktop-closed-hide">Consumables</span>
				</a>
			</li>

			<li class="mt-1">
				<a
					href="/tags"
					class="sidebar-link {{ if isActiveURL $.Global.CurrentURL "/tags" }} active {{ end }}"
				>
					<x-icon icon="tag" /> <span class="sidebar-desktop-closed-hide">Tags</span>
				</a>
			</li>

			{{ if $.Global.User.IsAdmin }}
			<li class="mt-1">
				<a
					href="/users"
					class="sidebar-link {{ if isActiveURL $.Global.CurrentURL "/users" }} active {{ end }}"
				>
					<x-icon icon="user" /> <span class="sidebar-desktop-closed-hide">Users</span>
				</a>
			</li>
			{{ end }}
		</ul>
	</div>

	<div class="sidebar-footer">
		<div class="sidebar-desktop-closed-hide px-3 mt-5">
			{{ template "theme_switcher" $ }}
		</div>

		<a href="/users/me">
			<x-icon icon="user-gear" />
			<span class="sidebar-desktop-closed-hide">My Settings</span>
		</a>

		<a href="/logout">
			<x-icon icon="sign-out" class="rotate-180" />
			<span class="sidebar-desktop-closed-hide">Logout</span>
		</a>
	</div>
</div>
{{ end }}

{{ define "footer" }}
<footer class="px-3 md:px-6 lg:px-8 py-5 bg-background-accent w-full border-t border-border-default h-16">
	<div class="flex flex-wrap justify-center text-sm">
		{{ template "logo" dict "Class" "text-sm" "IconClass" "h-0" }}
		<span class="px-5">Version {{ $.Global.Version }}</span>
		<a href="https://github.com/RobinThrift/stuff" class="inline-block group flex flex-row justify-center items-center text-primary-default hover:text-primary-hover" rel="noopener noreferrer">
			<x-icon icon="github-logo-duotone" class="h-[16px] w-[16px] !hidden group-hover:!inline-block" />
			<x-icon icon="github-logo" class="h-[16px] w-[16px] group-hover:!hidden" />
			GitHub
		</a>
	</div>
</footer>
{{ end }}


{{ define "theme_switcher" }}
<div class="flex">
	<select
		class="input input-sm me-3"
		name="theme" id="theme"
		x-on:input="$store.theme.setTheme($event.target.value);"
		x-bind:value="$store.theme.name"
	>
		<option value="default" {{ if or (eq $.Global.User.Preferences.ThemeName "") (eq $.Global.User.Preferences.ThemeName "default") -}} selected {{- end }}>Default</option>
		<option value="retro" {{ if eq $.Global.User.Preferences.ThemeName "retro" -}} selected {{- end }}>Retro</option>
	</select>

	<select
		class="input input-sm"
		name="theme_mode" id="theme_mode"
		x-on:input="$store.theme.setMode($event.target.value);"
		x-bind:value="$store.theme.mode"
	>
		<option value="system" {{ if or (eq $.Global.User.Preferences.ThemeMode "") (eq $.Global.User.Preferences.ThemeMode "system") -}} selected {{- end }}>System</option>
		<option value="light" {{ if eq $.Global.User.Preferences.ThemeMode "light" -}} selected {{- end }}>Light</option>
		<option value="dark" {{ if eq $.Global.User.Preferences.ThemeMode "dark" -}} selected {{- end }}>Dark</option>
	</select>
</div>
{{ end }}
