{{/*
    pagination:
       Pagination[Item any]
*/}}
{{ define "pagination" }}
<div class="pagination">
	<p class="pl-2 text-sm">
		Showing <span class="font-medium">{{ (add (mul .Page .PageSize) 1) }}</span> to <span class="font-medium">{{ mul (add .Page 1) .PageSize }}</span> of <span class="font-medium">{{ .Total }}</span>.
	</p>
	<nav>
		<ul class="pagination-items">
			<li class="h-full">
                {{- $prev := .PrevPageURL -}}
                {{- if eq $prev "" }}
				<span class="pagination-item ml-0 rounded-l disabled">
					Previous
				</span>
				{{ else }}
				<a href="{{ $prev }}" class="pagination-item ml-0 rounded-l hover:text-primary-500">
					Previous
				</a>
				{{ end }}
			</li>

            {{ range $p := .PaginationURLs }}
                {{ if ne $p.Text "..." }}
				<li class="h-full block">
					<a href="{{ $p.URL }}" class="pagination-item {{- if $p.IsCurrent }} active {{- end }}">
						<span>{{ $p.Text }}</span>
						<span class="accent"></span>
					</a>
				</li>
                {{ else }}
                <li class="h-full block">
                    <div class="relative inline-flex items-center h-full px-2.5 group"><span>...</span></div>
                </li>
                {{ end }}
            {{ end }}

			<li class="h-full">
                {{- $next := .NextPageURL -}}
				{{- if eq $next "" }}
				<span class="pagination-item ml-0 rounded-l disabled">
					Next
				</span>
				{{ else }}
				<a href="{{ $next }}" class="pagination-item ml-0 rounded-l group hover:text-primary-500">
					Next
				</a>
				{{ end }}
			</li>
		</ul>
	</nav>
</div>
{{ end }}

