{{ define "status_badge" }}

{{ $class := "" }}
{{ if eq .Status "IN_STORAGE" }}
{{ $class = "bg-blue-500 text-blue-100" }}
{{ else if eq .Status "IN_USE" }}
{{ $class = "bg-green-100 text-green-700" }}
{{ else if eq .Status "ARCHIVED" }}
{{ $class = "bg-neutral-300 text-neutral-700" }}
{{ end }}

<span class="rounded px-2.5 py-0.5 font-semibold {{ $class }} {{- if has . "Class" }} {{ .Class }} {{- end -}}" >
	{{ .Status }}
</span>
{{ end }}
