{{/*
x-badge:
	status string
	class string

*/}}
{{ define "status-badge" }}

{{ $class := "" }}
{{ if eq .status "IN_STORAGE" }}
{{ $class = "in-storage" }}
{{ else if eq .status "IN_USE" }}
{{ $class = "in-use" }}
{{ else if eq .status "ARCHIVED" }}
{{ $class = "archived" }}
{{ end }}

{{- if has . "class" }}
{{  $class = (concat $class " " .class) }}
{{- end -}}

<span class="badge {{ $class }}">
	{{ .status }}
</span>
{{ end }}
